body {
   font-family: 'Roboto', sans-serif;

   padding: 0;
   margin: 0;
}

.container {
   max-width: 900px;
   margin: 0 auto;
}

header,
.hero {
   background-color: #1F2937;
   color: #F9FAF8;
   margin: 0;
   padding: 0;

}

header {
   height: 60px;
}

header .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo {
   font-size: 24px;
   font-weight: bold;
}

.navbar {
   display: flex;
   list-style: none;
}

.navbar li {
   margin-left: 16px;
}

.navbar li a {
   text-decoration: none;
   font-size: 18px;
   color: #E5E7EB;
}

.hero {
   min-height: 400px;
}

.hero .container {
   display: flex;
   max-height: 250px;
   padding-top: 50px;
   gap: 50px;
}

.title {
   font-size: 48px;
   font-weight: bolder;
}

.subtext,
button.signup {
   font-size: 18px;
   color: #E5E7EB;
}

.subtext {
   margin-bottom: 16px;
}

button.signup {
   background-color: #3882F6;
   padding: 4px 20px;
   border-style: none;
   border-radius: 3px;
}

.pic img {
   max-height: 250px;
}