* {
   box-sizing: border-box;
}

body {
   font-family: 'Roboto', sans-serif;
   padding: 0;
   margin: 0;
}

.container {
   width: 900px;
   margin: 0 auto;
}

header,
.hero,
footer {
   background-color: #1F2937;
   color: #F9FAF8;
   margin: 0;
   padding: 0;

}

header,
footer {
   height: 90px;
}

header .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo {
   font-size: 24px;
   font-weight: bold;
}

.navbar {
   display: flex;
   list-style: none;
}

.navbar li {
   margin-left: 16px;
}

.navbar li a {
   text-decoration: none;
   font-size: 18px;
   color: #E5E7EB;
}

.hero {
   min-height: 400px;
}

.hero .container {
   display: flex;
   max-height: 250px;
   padding-top: 50px;
   gap: 50px;
}

.title {
   font-size: 48px;
   font-weight: bolder;
}

.subtext {
   font-size: 18px;
   color: #E5E7EB;
}

.subtext {
   margin-bottom: 16px;
}

button.signup,
button.call-signup {
   font-size: 18px;
   font-weight: 500;
   color: #F9FAF8;
   background-color: #3882F6;
   padding: 8px 36px;
   border-style: none;
   border-radius: 8px;
}

.pic img {
   max-height: 250px;
}

.info .container {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 32px;
}

.info .container .heading {
   font-size: 36px;
   font-weight: bolder;
   color: #1F2937;
   margin-bottom: 24px;
}

.boxes {
   display: flex;
   justify-content: space-around;
   width: 100%;
   margin-bottom: 36px;
}

.boxset {
   width: 160px;
   text-align: center;
}

.box {
   aspect-ratio: 1/1;
   border-style: solid;
   border-color: #3882F6;
   border-width: 4px;
   border-radius: 15px;
   margin-bottom: 8px;
}

.quote-section {
   background-color: #E5E7EB;
}

.quote-section .container {
   padding: 80px 36px;
}

.quote {
   font-size: 36px;
   font-weight: 300;
   font-style: italic;
   color: #1F2937;
}

.quote-person {
   text-align: right;
   font-size: 24px;
   font-weight: bold;
   padding-right: 36px;
}

.call-action .container {
   display: flex;
   justify-content: center;
   align-items: center;

   min-height: 350px;
   padding: 0;
}

.action-box {
   flex: 1;
   background-color: #3882F6;

   display: flex;
   justify-content: space-between;

   padding: 48px 96px;
   border-radius: 8px;
   align-items: center;
}

.call-title {
   font-size: 24px;
   font-weight: bold;
   color: #F9FAF8;
   margin-bottom: 4px;
}

.call-text {
   font-size: 18px;
   color: #E5E7EB;
}

button.call-signup {
   border-style: solid;
   border-color: #F9FAF8;
}

footer {
   display: flex;
   text-align: center;
   align-items: center;
   font-size: 18px;
}

footer .container {
   vertical-align: middle;
}